doctype html
html
    head
        title Abungo
        meta(charset="utf-8")
        
        link(rel="stylesheet", href="style.css")
    body
        aside
            header
                h1.logo Abungo
            form#login
                label
                    input#login_nick(type="text", required="true")
                    div Nick
                label
                    input#login_room(type="text", required="true")
                    div Room
                button#login_button Connect
            .separator
            .userlist.showonlogin
                h2 Online users
                ol.userlist_list
        
        .messages.showonlogin
            .sendbar
                .sendbar_attach
                    input(type="file", id="fileinput")
                .sendbar_compose
                    .sendbar_compose_input(contenteditable="true", placeholder="Type your message...")
        
        script(src="/socket.io/socket.io.js")
        script(src="client.js")