doctype html
html
    head
        title Abungo
        meta(charset="utf-8")
        
        meta(name="viewport", content="width=device-width, height=device-height")
        meta(name="theme-color", content="#333333")
        
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic")
        link(rel="stylesheet", href="style.css")
    body
        aside.sidebar
            .sidebar_main
                header
                    h1.logo Abungo
                form#login
                    label
                        input#login_nick(type="text", required="true")
                        div Nick
                    label
                        input#login_room(type="text", required="true")
                        div Room
                    button#login_button Connect
                .separator
                .userlist.showonlogin
                    h2 Online users
                    ol.userlist_list
            .sidebar_controls.showonlogin
                .left
                    label.button.green#logout_button
                        include ./img/exit.svg
                .right
                    label.button.green#sidebar_collapse
                        include ./img/chevron-left.svg
        
        .messages.showonlogin
            .sendbar
                .sendbar_attach
                    label.button
                        include ./img/attachment.svg
                        input(multiple="true", type="file", id="fileinput", data-icon="attachment")
                    label.button.popup.popup-camera
                        include ./img/camera.svg
                        div.popup_popup.popup_popup-camera
                            video.popup_popup-camera_preview(autoplay="true")
                            label.button.popup_popup-camera_capture.white.shadow2
                                include ./img/aperture.svg
                    label.button.popup.popup-voice
                        include ./img/microphone.svg
                        div.popup_popup.popup_popup-voice
                            label.button.popup_popup-voice_record.lightgrey.shadow1
                                include ./img/record.svg
                            svg.popup_popup-voice_volumecircle(viewbox="0, 0, 24, 24")
                                circle(cx="12", cy="12", r="12")
                    label.button.popup.popup-stickers
                        include ./img/smiley.svg
                        div.popup_popup.popup_popup-stickers
                            div.popup_scroller.y
                                ul.popup_popup-stickers_list
                                    each sticker in stickers
                                        li
                                            div.popup_popup-stickers_sticker(style="background-image: url(img/stickers/#{sticker}.svg)", title="#{sticker}")
                        
                .sendbar_compose
                    .sendbar_compose_input(contenteditable="true", placeholder="Type your message...")
        
        script(src="/js/Object.observe/object-observe-lite.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/Autolinker.js/Autolinker.min.js")
        script(src="client.js")
