doctype html
html
    head
        title Abungo
        meta(charset="utf-8")
        
        link(rel="stylesheet", href="style.css")
    body
        aside.sidebar
            header
                h1.logo Abungo
            form#login
                label
                    input#login_nick(type="text", required="true")
                    div Nick
                label
                    input#login_room(type="text", required="true")
                    div Room
                button#login_button Connect
            .separator
            .userlist.showonlogin
                h2 Online users
                ol.userlist_list
            .sidebar_controls.showonlogin
                .left
                    label.button.green#logout_button
                        include ./img/exit.svg
                .right
                    label.button.green#sidebar_collapse
                        include ./img/chevron-left.svg
        
        .messages.showonlogin
            .sendbar
                .sendbar_attach
                    label.button
                        include ./img/attachment.svg
                        input(type="file", id="fileinput", data-icon="attachment")
                .sendbar_compose
                    .sendbar_compose_input(contenteditable="true", placeholder="Type your message...")
        
        script(src="/socket.io/socket.io.js")
        script(src="client.js")