/*
 * Camerca icon by Designmodo
 * Microphone icon by Stephen Hutchings - http://typicons.com/
 * Folder icon by Ionicons - http://ionicons.com/
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@-webkit-keyframes new_message {
    from {opacity:0}
    to {opacity:1}
}

@keyframes new_message {
    from {opacity:0}
    to {opacity:1}
}

*,*:before,*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 17px;
    font-family:Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*:focus {
    outline:none;
}

html,body {
    height:100%;
    width:100%;
    overflow:hidden;
}

body {
    background: #58b69b;
}

form {
    width:100%;
}

#m {
    width:300px;
    max-width:100%;
    padding:20px;
    margin:20px;
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-150px;
    border:none;
    height:60px;
}

#messages {
    list-style-type: none;
    height:100%;
    width:100%;
    overflow-y:auto;
    padding-bottom:100px;
    -webkit-mask-image: linear-gradient(black -webkit-calc(100% - 100px), transparent 100%);
}

#messages li {
    padding: 10px 50px;
    width: 100%;
    display: block;
}

#messages li div {
    background:white;
    width:auto;
    word-wrap: break-word;
    -webkit-animation:new_message .3s;
    animation:new_message .3s;
    display:inline-block;
    padding: 20px;
    padding-top: 15px;
    position:relative;
}

#messages li:not(.status) div {
    max-width:500px;
}

#messages li.self {
    text-align: right;
}

#messages li:not(.status) strong {
    display:block;
    margin:0;
    margin-bottom:7px;
}

#messages li.status div {
    font-style: italic;
    width: 100%;
    text-align: center;
    background:transparent;
    color:white;
    padding:0;
}

#messages li.normal div:before, #messages li.self div:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top:0;
}

#messages li.normal div:before {
    border-width: 0 20px 20px 0;
    border-color: transparent #fff transparent transparent;
    left:-20px;
}

#messages li.self div:after {
    border-width: 20px 20px 0 0;
    border-color: #fff transparent transparent transparent;
    right:-20px;
}

#messages li.console div {
    background:#ddd;
    color:#222;
}

#messages li.console div:before {
    border-color:transparent #ddd transparent transparent;
}

#messages li.typing {
    font-style: italic;
}

#messages li.typing div {
    padding-top:20px;
    -webkit-animation:none;
    animation:none;
}

#messages li.typing div strong {
    display:inline-block;
    margin-bottom:0;
}

#users, #current_room {
    width:300px;
    margin:20px;
    max-width:-webkit-calc(100% / 2 - 220px - 40px);
    max-width:calc(100% / 2 - 220px - 40px);
    overflow-y:auto;
    color:white;
    font-size:15px;
    padding:3px;
    position:absolute;
    bottom:0;
}

#users *, #current_room * {
    font-size:15px;
}

#users {
    text-align:right;
    right:0;
}

#current_room {
    left:0;
}

form label input {
    display:none;
}

#fileshare { /* label element */
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
    left: -webkit-calc(50% + 150px);
    left: calc(50% + 150px);
    margin: 20px;
    background-image: url(img/attachment.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
}

#messages li div img {
    max-width:100%;
}

a {
    text-decoration:none;
    color:#58b69b;
}

a:hover {
    border-bottom:solid 1px #58b69b;
}

#welcome {
    height:100%;
    width:100%;
    background-color:#58b69b;
    position:absolute;
    left:0;
    top:0;
    z-index:1;
    color:white;
}

#welcome,#welcome * {
    -webkit-transition:opacity .3s;
    transition:opacity .3s;
}

#nick_choose {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -115px;
    margin-left: -133px;
    text-align: center;
    color:white;
    text-align:right;
}

#nick_choose label {
    color:rgba(255,255,255,.5);
    display:block;
}

#nick_choose input {
    border:none;
    border-bottom:solid 3px rgba(255,255,255,.5);
    background-color:transparent;
    padding:10px;
    height:60px;
    color:white;
    border-radius:0;
    width:200px;
    margin-left:20px;
    -webkit-transition:border .3s;
    transition:border .3s;
}

#nick_choose input:focus {
    border-bottom-color: white;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 50px;
    text-align:center;
    margin-left:50px;
}

h1:before {
    content:"";
    background-image:url(img/icon.png);
    height:30px;
    width:45px;
    position:absolute;
    left:20px;
    top:15px;
}

#nick_choose input::-webkit-input-placeholder,  #nick_choose input:-moz-input-placeholder {
    color:rgba(255,255,255,.5);
}

#messages audio,  #messages video {
    display:block;
    margin-bottom:5px;
    max-width:100%;
}

#tagline {
    position:absolute;
    bottom:0;
    left:0;
    margin-bottom:20px;
    text-align:center;
    width:100%;
    font-size:15px;
    color:rgba(255,255,255,.5);
}

::-moz-selection {
    background-color:rgba(138,232,205,.5);
}

::selection {
    background-color:rgba(138,232,205,.5);
}

#fileoptions {
    position:absolute;
    bottom:100px;
    left:50%;
    width:145px;
    height:0;
    background:rgba(255,255,255,.7);
    border-radius:5px;
    -webkit-transition:.3s;
    transition:.3s;
    margin-left:130px;
    overflow:hidden;
    opacity:0;
}

#photobooth {
    height:0;
    position:relative;
}

#fileoptions.opened {
    height:60px;
    opacity:1;
}

#fileoptions.booth {
    width:400px;
    height:300px;
    margin-left:0;
}

#photobooth input {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0;
    cursor:pointer;
    border:none;
    background-color:rgba(255,255,255,.5);
    background-image:url(img/file_sharing/camera.png);
    background-repeat:no-repeat;
    background-position:center;
}

#photobooth input:hover {
    opacity:1;
}

#fileoptions.booth #photobooth input {
    display:block;
}

#fileoptions.booth #mainoptions {
    height:0;
    padding:0;
}

#fileoptions.booth #photobooth {
    height:300px;
}

#filearrow {
    position: fixed;
    bottom: 80px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: transparent;
    margin-left: 180px;
    -webkit-transition:border-color .3s;
    transition:border-color .3s;
}

#filearrow.visible {
    border-color: rgba(255,255,255,.7) transparent transparent transparent;
}

#mainoptions {
    padding:10px;
    overflow:hidden;
}

.fileoption {
    display:inline-block;
    height:40px;
    width:40px;
    margin:0 10px;
    -webkit-background-size:cover;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    opacity:.7;
    -webkit-transition:opacity .3s;
    transition:opacity .3s;
    cursor:pointer;
}

.fileoption:hover {
    opacity:1;
}

#take_photo {
    background-image:url(img/file_sharing/camera.png);
}

#attach_file {
    background-image:url(img/file_sharing/folder.png);
}

@media only screen and (max-width:480px) {
    #messages li {
        padding:10px 35px;
    }
    
    #messages li:not(.status) div {
        max-width:75%;
        padding:15px;
    }
    
    #users, #current_room {
        position:fixed;
        top:0;
        background:white;
        height:40px;
        padding:10px;
        max-width:none;
        margin:0;
        color:black;
        white-space:nowrap;
        overflow-y:hidden;
        -webkit-box-shadow:0 7px rgba(0,0,0,.3);
        box-shadow:0 7px rgba(0,0,0,.3);
    }
    
    #users {
        left:0;
        width:50%;
        text-align:left;
    }
    
    #current_room {
        right:0;
        width:50%;
        text-align:right;
        left:auto;
    }
    
    #fileshare {
        height: 40px;
        width: 40px;
        background-image: url(img/attachment-negative.png);
        bottom: 0;
        right: 0;
        margin: 10px;
        left: auto;
        -webkit-background-size: 50px;
        background-size: 50px;
        -webkit-box-shadow: 0 0 0 10px white;
        box-shadow: 0 0 0 10px white;
    }
    
    #messages {
        padding-top:47px;
        padding-bottom:80px;
        -webkit-mask-image:linear-gradient(black -webkit-calc(100% - 100px), black -webkit-calc(100% - 60px),transparent -webkit-calc(100% - 60px));
    }
    
    #m {
        margin-bottom:0;
        margin-left:-50%;
        width:-webkit-calc(100% - 60px);
        width:calc(100% - 60px);
    }
    
    #tagline {
        display:none;
    }
    
    #fileoptions {
        display:none;
    }
    
    #filearrow {
        display:none;
    }
}