@import "mixins.scss";

$black: #333;
$lightgrey: #ddd;
$grey: #777;
$darkgrey: #555;
$green: #58b69b;

@keyframes messageAppearLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
}

@keyframes messageAppearRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
}

@keyframes stickerEnergyFillup {
    from {
        background-color: transparent;
    }

    to {
        background-color: $green;
    }
}

@-webkit-keyframes messageAppearLeft {
    from {
        -webkit-transform: translateX(-50px);
        opacity: 0;
    }
}

@-webkit-keyframes messageAppearRight {
    from {
        -webkit-transform: translateX(50px);
        opacity: 0;
    }
}

@-webkit-keyframes stickerEnergyFillup {
    from {
        background-color: transparent;
    }

    to {
        background-color: $green;
    }
}

*, :before, :after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    max-width: 100%;

    background-repeat: no-repeat;
    background-position: center;

    transition-duration: .3s;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    background-color: $green;
    color: #fff;
    overflow: hidden;
}

input, textarea, button {
    border: none;
}

button {
    cursor: pointer;
}

.showonlogin {
    display: none;
}

.loggedin .showonlogin {
    display: block;
}

.notouch {
    pointer-events: none;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgba(127, 127, 127, .3);
    margin: 20px 0;
}

aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: $black;
    color: #fff;

    .sidebar_main {
        padding: 0 20px;
        padding-bottom: 20px;
        height: calc(100% - 70px);
        overflow-y: auto;
    }

    label {
        position: relative;
        display: block;

        input {
            background: none;
            display: block;
            margin: 10px 0;
            padding: 10px 0;

            &:focus, &:valid, &[readonly] {
                + div {
                    -webkit-transform: scale(0.5) translateY(-35px);
                    transform: scale(0.5) translateY(-35px);
                }
            }
        }

        div {
            position: absolute;
            left: 0;
            top: 0;
            -webkit-transform-origin: left;
            transform-origin: left;
            pointer-events: none;
            color: $grey;
        }
    }

    header {
        padding: 20px;
    }

    .logo {
        color: $green;
        font-size: 2.5em;
        font-weight: 700;
        position: relative;
        padding-left: 30px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 50px;
            height: 100%;
            margin-left: -20px;
            background-image: url(img/logo/icon.svg);
            background-size: 1em;
        }
    }

    form {
        font-size: 1.5em;
    }

    button {
        font-size: 0.7em;
        background: rgba(127, 127, 127, .2);
        border-radius: 4px;
        padding: 10px 15px;

        &.problem {
            background-color: #b65858;
        }
    }

    ol, ul {
        list-style: none;

        li {
            display: block;
            padding: 5px 0;

            &.user-self {
                font-weight: 700;
            }

            &.typing:after {
                content: "...";
                display: inline-block;
                margin-left: 3px;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 0.5;
                vertical-align: middle;
                color: rgba(255, 255, 255, .7);
            }
        }
    }

    h2 {
        color: rgba(255, 255, 255, .8);
        margin-bottom: 10px;
    }

    .sidebar_controls {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        box-shadow: inset 0 1px rgba(255, 255, 255, .2);
        background-color: inherit;
        height: 70px;
        padding: 10px;

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }
}

.sidebarhidden {
    aside {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);

        .sidebar_controls {
            -webkit-transform: translateX(70px);
            transform: translateX(70px);
        }
    }

    .messages {
        width: 100%;
    }

    .sendbar {
        width: calc(100% - 70px);
    }

    #sidebar_collapse svg {
        -webkit-transform: rotate(0.5turn);
        transform: rotate(0.5turn);
    }
}

.sendbar {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: calc(100% - 250px);
    height: 70px;
    background-color: $green;

    @include material-shadow(1, -1);

    &.float {
        @include material-shadow(2, -1);
    }
}

.sendbar_compose_input {
    min-height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    margin: 10px;

    background-color: #fff;
    color: $black;
    padding: 10px;
    transition-property: box-shadow;

    @include material-shadow(1);

    &:hover, &:focus {
        @include material-shadow(2);
    }

    &:empty:before {
        content: attr(placeholder);
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px;
        color: $grey;
        pointer-events: none;
    }
}

.sendbar_attach {
    margin: 10px;

    label.button {
        margin-right: 10px;
    }
}

label.button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    transition-property: box-shadow, background;

    &:hover, &:focus, &.popup-opened {
        background-color: #fff;
        @include material-shadow(2);

        > svg g > * {
            fill: $green;
        }
    }

    @each $depth in 1, 2, 3, 4, 5 {
        &.shadow#{$depth} {
            @include material-shadow($depth);
        }
    }

    &.white, &.lightgrey {
        background-color: #fff;

        svg g > * {
            fill: $black;
        }
    }

    &.lightgrey {
        background-color: $lightgrey;
    }

    &.green, &.white, &.lightgrey {
        &:hover, &:focus {
            background-color: $green;

            svg g > *{
                fill: #fff;
            }
        }
    }

    input {
        display: none;
    }

    svg {
        display: block;
        width: 30px;
        height: 30px;
        margin: 10px;
        pointer-events: none;
    }

    .popup_popup {
        $popup_width: 300px;
        $popup_height: $popup_width * 3 / 4;

        position: absolute;
        max-width: none;
        width: $popup_width;
        height: $popup_height;
        left: 50%;
        top: 0;
        margin-top: -30px;
        opacity: 0;
        background-color: #fff;
        color: $black;
        pointer-events: none;
        border-radius: 4px;
        cursor: auto;
        overflow: hidden;

        -webkit-transform: translateY(calc(-100% + 50px)) translateX(-50%) scale(0);
        -webkit-transform-origin: bottom;
        transform: translateY(calc(-100% + 50px)) translateX(-50%) scale(0);
        transform-origin: bottom;

        transition-property: transform, opacity, box-shadow;

        &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #ffffff transparent transparent transparent;
            position: fixed;
            bottom: 0;
            left: 50%;
            margin-left: -10px;
            margin-bottom: -10px;
        }

        &.popup_popup-stickers {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .popup_popup-stickers_sticker {
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer;
                border-radius: 4px;
                background-size: contain;

                &:active {
                    -webkit-animation: stickerEnergyFillup 2s linear;
                    animation: stickerEnergyFillup 2s linear;
                }
            }

            .popup_popup-stickers_list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                li {
                    display: inline-block;
                    width: 75px;
                    height: 75px;
                    margin: 10px;
                }
            }
        }

        &.popup_popup-camera {
            .popup_popup-camera_capture {
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 10px;
            }
        }

        &.popup_popup-voice {
            height: 100px;

            .popup_popup-voice_record {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                z-index: 1;

                svg {
                    circle, rect {
                        -webkit-transition-property: opacity, fill;
                        transition-property: opacity, fill;
                    }

                    rect {
                        opacity: 0;
                    }
                }

                &.recording {
                    background-color: $green;

                    svg g {
                        > * {
                            fill: #fff;
                        }

                        circle {
                            opacity: 0;
                        }

                        rect {
                            opacity: 1;
                        }
                    }
                }

                &:not(.recording) {
                    + .popup_popup-voice_volumecircle {
                        -webkit-transform: scale(0) !important;
                        transform: scale(0) !important;
                    }
                }
            }

            .popup_popup-voice_volumecircle {
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 0;
                top: 0;
                left: 0;
                fill: #ddd;
            }
        }

        .popup_scroller {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &.x {
                overflow-x: auto;
            }

            &.y {
                overflow-y: auto;
            }

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba($grey, 0.5);
                border-radius: 5px;
                box-shadow: inset 0 0 0 2px #FFF;

                &:hover {
                    background-color: rgba($grey, 0.7);
                }
            }
        }
    }

    &.popup-opened {
        .popup_popup {
            pointer-events: auto;
            opacity: 1;

            -webkit-transform: translateY(-100%) translateX(-50%) scale(1);
            transform: translateY(-100%) translateX(-50%) scale(1);

            @include material-shadow(2);
        }
    }
}

.messages {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: calc(100% - 70px);
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $green;
}

.message {
    margin: 10px;
    clear: both;
    word-wrap: break-word;
    position: relative;

    &.message-received, &.message-self {
        max-width: 400px;
        color: $black;
        background-color: #fff;
        padding: 10px 15px;
        @include material-shadow(1);

        -webkit-animation-duration: .3s;
        animation-duration: .3s;

        &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            top: 0;
        }
    }

    &.message-received {
        float: left;

        -webkit-animation-name: messageAppearLeft;
        animation-name: messageAppearLeft;

        &:after {
            border-width: 0 15px 15px 0;
            border-color: transparent #ffffff transparent transparent;
            left: -15px;
        }
    }

    &.message-self {
        float: right;

        -webkit-animation-name: messageAppearRight;
        animation-name: messageAppearRight;

        h3 {
            display: none;
        }

        &:after {
            border-width: 15px 15px 0 0;
            border-color: #ffffff transparent transparent transparent;
            right: -15px;
        }

        &.message-notdelivered {
            opacity: 0.5;
        }
    }

    &.message-join {
        text-align: center;
        padding: 5px 0;
        font-style: italic;
    }

    h3 {
        font-weight: 700;
    }

    a {
        color: $green;
        border-bottom: solid 1px $green;
    }

    .message_sticker {
        $message_sticker_width: 200px;
        width: $message_sticker_width;
        height: $message_sticker_width;

        &.message_sticker-1 {
            width: $message_sticker_width / 2;
            height: $message_sticker_width / 2;
        }

        &.message_sticker-0 {
            width: $message_sticker_width / 4;
            height: $message_sticker_width / 4;
        }

        &.message_sticker-small {
            $message_sticker_small_width: 1em;
            width: $message_sticker_small_width;
            height: $message_sticker_small_width;
            vertical-align: middle;
        }
    }
}

.mobile {
    .popup-camera {
        display: none !important;
    }
}

.no-gum {
    .popup-camera {
        display: none !important;
    }

    .popup-voice {
        display: none !important;
    }
}

@media only screen and (max-width: 720px) {
    *, :before, :after {
        transition: none !important;
    }

    aside, .messages, .sendbar {
        width: 100% !important;
        left: 0;
    }

    .messages {
        height: calc(100% - 70px - 65px);
    }

    aside {
        padding-top: 70px;
        z-index: 2;
    }

    .sidebar_controls {
        top: 0;
        background-color: transparent !important;
    }

    .sidebarhidden {
        aside {
            z-index: 1;
        }

        .sidebar_controls {
            label.button {
                background-color: $black;
                @include material-shadow(2);
            }
        }
    }

    .sendbar {
        height: auto;

        label.button {
            margin-right: 0;
        }
    }

    .sendbar_attach {
        display: flex;
        justify-content: space-around;
        margin: 5px;
    }

    .sendbar_compose_input {
        position: relative;
        margin: 0;
        width: 100%;
    }
}
